.marquee-content {
  animation: marquee 10s linear infinite;
  &:hover{
    animation-play-state: paused;
  }
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-62%);
  }
}
